body {
  margin: 0px;
}

.App {
  text-align: center;
  height: 100vh;
}

.background-transition {
  transition: opacity 2s;
}

.image-visible {
  opacity: 1;
}

.image-hidden {
  opacity: 0;
}

.fade-in {
	animation: fadein 2s;
  	opacity: 1;
}

@keyframes fadein {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

.nav-btn {
  color: white;
  display: block;
  padding: 2%;
  text-decoration: none;
}

.nav-btn:hover {
  color: #1989fa;
}

#logo {
  display: block;
  left: 0;
  position: relative;
}

#ice-img {
  width: 100%;
  height: 100vh;
}

.stat-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.popup-content {
  margin: auto;
  width: fit-content;
}

.text-area {
  margin: auto;
  width: 80%;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #1989fa;
  color: white;
}

@media screen and (max-width: 1200px) {
  footer {
    display: none;
  }
  #logo {
    width: 50px;
  }
}

@media screen and (max-width: 650px) {
  #doughnut-container {
    width: 50%;
  }
}

.text-area  ul {
  text-align: left;
}




