body {
  margin: 0px;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-btn {
  color: white;
  display: block;
  padding: 2%;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  color: darkblue;
}

.nav-menu:hover {
  background-color: #1989fa;
}

.stat-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 50%; */
  margin: auto;
  justify-content: center;
  align-items: center;
}

.popup-content {
  margin: auto;
  /* background: rgb(255, 255, 255); */
}

#stats-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}