body {
  margin: 0px;
  
}

.App {
  text-align: center;
  height: 100vh;
}

.nav-btn {
  color: white;
  display: block;
  padding: 2%;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  color: darkblue;
}

.nav-menu:hover {
  background-color: #1989fa;
}

#login-container {
  display: flex;
  flex-direction: column;
}

.login-area {
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: auto;
  padding: 10px 0;

}

#sharpen-diagram {
  width: 100%;
  max-width: 800px;
}

#ice-img {
  width: 100%;
  height: 100vh;
}

.stat-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.popup-content {
  margin: auto;
  width: fit-content;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.text-area {
  margin: auto;
  width: 80%;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #1989fa;
  color: white;
}

@media screen and (max-width: 600px) {
  footer {
    display: none;
  }
}

#chart-container {
  margin: auto;
  width: 80%;
  max-width: 1000px;
}

.text-area  ul {
  text-align: left;
}